.brands-main-content {
  margin-top: 72px;
  width: 100%;
}

.brands-main-content .brands-content {
  width: 95%;
  margin: 5px auto;
}

.brands-main-content .brands-content .root {
  margin-bottom: 25px;
}

.brands-main-content .brands-content .root .paper {
  padding: 5px;
}

.brands-main-content .brands-content .root .paper .main-grid .image-grid {
  width: 30%;
  height: 300px;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .image-grid
  .image-btn {
  width: 100%;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .image-grid
  .image-btn
  a {
  width: 100%;
  height: 300px;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .image-grid
  .image-btn
  a
  .img {
  width: 300px;
}

.brands-main-content .brands-content .root .paper .main-grid .desc-grid {
  width: 60%;
  display: grid;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .desc-grid
  .typo-grid {
  margin-top: 57px;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .desc-grid
  .typo-grid
  .description {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.6;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .desc-grid
  .grid-btn {
  text-align: end;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .desc-grid
  .grid-btn
  .brand-link
  .btn {
  background-color: #4c003f;
  width: 200px;
}

.brands-main-content
  .brands-content
  .root
  .paper
  .main-grid
  .desc-grid
  .grid-btn
  .brand-link
  .btn
  .MuiButton-label {
  color: white;
}
