.payment-form {
  width: 100%;
}
.payment-form .payment-form-input {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 120px auto 0;
}
.payment-form .payment-form-input .card-form {
  margin-top: 60px;
  width: 100%;
}
.payment-form .payment-form-input .card-form .card-form-inner {
  width: 70%;
  margin: auto;
}
.payment-form .payment-form-input .card-form .card-form-inner .form input {
  background: rgb(123 123 123 / 56%);
  padding: 10px;
  width: 95%;
  border: none;
  margin: 0 auto 20px;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 300;
}
.payment-form .payment-form-input .payment-button {
}
.rccs__card--unknown > div {
  background: #adadad;
}
