.login-main {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #273535de;
  background: radial-gradient(
    ellipse farthest-side at center top,
    #4c003f 0%,
    rgb(0 0 0) 100%
  );
}

.login-main .login-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #77026326;
  border: solid 1px #770263;
}

.login-main .login-container .login-logo {
  width: 100%;
  margin: 30px 0;
}

.login-main .login-container .login-logo .logo {
  width: 80%;
  margin: auto;
  text-align: center;
}

.login-main .login-container .login-logo .logo a {
  width: 100px;
  display: inline-block;
  text-decoration: none;
}

.login-main .login-container .login-logo .logo a img {
  width: 100%;
}

.login-main .login-container .login-logo .logo p {
  font-size: 20px;
  font-family: cursive;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
}

.login-main .login-container .login-form {
  width: 100%;
}

.login-main .login-container .login-form .form {
  width: 80%;
  margin: auto;
  text-align: center;
}

.login-main .login-container .login-form .form form {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.login-main .login-container .login-form .form form label {
  width: 50%;
  font-size: 15px;
  background-color: #041d5012;
}

.login-main .login-container .login-form .form .error-massage {
  color: red;
  display: block;
  height: 20px;
  font-size: 12px;
}

.login-main .login-container .login-form .form label,
.login-main .login-container .login-form .form input {
  width: 100%;
  background: #4c003f6e;
  border: 1px solid #770263;
  font-size: 18px;
  color: white;
  padding: 7px 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: color 200ms, background-color 200ms, border-color 200ms;
}

.login-main .login-container .login-form .form label,
.login-main .login-container .login-form .form .submit {
  background-color: #4c003f;
  margin-top: 20px;
  cursor: pointer;
}
.login-main .login-container .login-form .form label:hover,
.login-main .login-container .login-form .form .submit:hover {
  background-color: #770263;
}
.login-main .login-container .login-form .form input:focus {
  border: 1px solid #770263;
}

.login-main .login-container .in-login-create-newAcc-btn {
  width: 100%;
  margin-top: 50px;
}

.login-main .login-container .in-login-create-newAcc-btn .create-newAcc-btn {
  padding: 15px;
  width: 80%;
  margin: auto;
  text-align: center;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
}

.login-main .login-container .in-login-create-newAcc-btn .create-newAcc-btn a {
  color: white;
  cursor: pointer;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.login-main .login-container .login-form .form .chosen-img {
  width: 100%;
  height: 100%;
}

.login-main .login-container .login-form .form .chosen-img .chosen-img-content {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
}

.login-main
  .login-container
  .login-form
  .form
  .chosen-img
  .chosen-img-content
  img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
