@media screen and (max-width: 1200px) {
  .page-navigation .page-container .navbar-desktop .navbar-menu .navbar-menu-a,
  .page-navigation
    .page-container
    .navbar-desktop
    .profile-items
    .profile-items-span {
    font-size: 16px;
    margin-right: 15px;
  }

  .discover-main .discover-content .discover-item .discoverEvenMore {
    width: 250px;
    height: 250px;
  }

  footer .footer-main-content .footer-content .map iframe {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 860px) {
  .page-navigation .page-container .navbar-desktop .navbar-desktop-a {
    width: 90px;
    margin-right: 20px;
  }

  .page-navigation .page-container .navbar-desktop .profile-items {
    width: 150px;
    margin-right: 0;
  }

  .page-navigation
    .page-container
    .navbar-desktop
    .profile-items
    .div-bag-icon
    .bag-count {
    font-size: 10px;
    top: -8px;
    right: 2px;
    width: 10px;
    height: 10px;
  }

  .page-navigation
    .page-container
    .navbar-desktop
    .profile-items
    .div-bag-icon
    a
    img {
    width: 23px;
  }

  .page-navigation .page-container .navbar-desktop .navbar-menu .navbar-menu-a,
  .page-navigation
    .page-container
    .navbar-desktop
    .profile-items
    .profile-items-span {
    font-size: 13px;
  }

  .profile-dropdown
    .profile-dropdown-content
    .profile-dropdown-info
    .profile-dropdown-info-name {
    font-size: 15px;
  }

  .profile-dropdown
    .profile-dropdown-content
    .profile-dropdown-info
    .profile-dropdown-info-img {
    width: 35px;
    height: 35px;
  }

  .profile-dropdown
    .profile-dropdown-content
    .profile-dropdown-logout
    .profile-dropdown-logout-button {
    padding: 7px 40px;
    font-size: 15px;
  }

  .header .header-content {
    min-height: 600px;
  }

  .carousel-main .carousel-title {
    font-size: 30px;
  }

  .carousel-main .carousel-subtitle {
    font-size: 15px;
  }

  .carousel-main .slider {
    width: 99%;
  }

  .react-multiple-carousel__arrow {
    display: none;
  }

  .discover-main .discover-title {
    font-size: 30px;
  }

  .discover-main .discover-content .discover-item .discoverEvenMore span {
    font-size: 40px;
  }

  .discover-main .discover-content .discover-item .discoverEvenMore {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .header .header-content {
    min-height: 400px;
  }

  .header .header-content h2 {
    padding-top: 100px;
    font-size: 20px;
    padding-left: 10px;
  }

  .header .header-content h3 {
    padding-left: 10px;
    font-size: 14px;
  }

  .discover-main .discover-content {
    justify-content: center;
    flex-wrap: wrap;
  }

  .discover-main .discover-content .discover-item .discoverEvenMore {
    width: 300px;
    margin: 10px 0;
  }

  footer .footer-main-content .footer-content h2 {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }

  footer .footer-main-content {
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .footer-main-content .footer-content {
    width: 100%;
  }

  footer .footer-main-content .footer-content .footer-brands-content,
  footer .footer-main-content .footer-content .footer-connect-content {
    display: flex;
    flex-flow: column;
    text-align: center;
    box-shadow: inset 0 0 15px -5px;
    padding: 17px 0;
  }

  footer .footer-main-content .footer-content .footer-connect-content {
    justify-content: space-around;
    flex-flow: unset;
  }

  footer .footer-main-content .footer-content .map iframe {
    width: 100%;
    height: 250px;
  }

  .logos {
    height: 0;
    width: 50px;
    padding-top: 0;
    margin-left: 0;
  }
}
